{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Accueil{% endblock %}

{% block body %}
    
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Symrecipe!</h1>
            <p class="lead">Symrecipe est une application qui va te permettre
                de creer des recettes a base d'ingredients que tu auras toi_meme
                ceer. Tu pourras partager tes recettes a la communitaué du site,
                ou bien les garder en privées.
            </p>
            <hr class="my-4">
            <p>Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>


{% endblock %}
